@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: #232526;
}

.arrowAnimate {
  animation: arrowMove 0.6s ease-in-out infinite alternate;
}

@keyframes arrowMove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

.underline-slide {
  width: 0%;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.group:hover .underline-slide {
  width: 100%;
  left: 0;
}

.group:not(:hover) .underline-slide {
  width: 0%;
  left: 0;
}

.pageHeading{
  font-size: 160px;
  font-weight: 500;
  font-family: "Allura", cursive;
  text-shadow: 2px 2px 4px #ffbf00b3;
}

.pageHeading2{
  font-size: 130px;
  font-weight: 500;
  font-family: "Allura", cursive;
  text-shadow: 2px 2px 4px #ffbf00b3;
}